<h1>Display your Pirate here</h1>
<pre><%= params.inspect %></pre>
<h2>Name: <%=params["pirate"]["name"] %>
<h2>Weight: <%=params["pirate"]["weight"] %>
<h2>Height: <%=params["pirate"]["height"] %>

<h2>Display your first ship here</h2>


<h2>Display your second ship here</h2>
